<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
</head>
<body>

<div>
  <header class="text-center mt-4">
    <h1 class="welcome-header">Submitted Pet Posts</h1>
  </header>

  <!-- Search Bar -->
  <div class="row mb-4 justify-content-center">
    <div class="col-md-8">
      <input class="form-control form-control-lg" type="text" id="petSearch" placeholder="Search..." onkeyup="searchPets()">
    </div>
  </div>

  <!-- Card Container -->
  <div class="card-container">
    <% @pet_submissions.reverse_each do |pet_submission| %>
      <% unless pet_submission.closed? %>
        <div class="card mb-4 user-submission-card">
          <div class="card shadow h-100">
            <div class="card-body user-submission-body">
              <%= link_to pet_submission_path(pet_submission) do %>
                <h5 class="card-title user-submission-title"><%= pet_submission.title %></h5>
              <% end %>
              <p class="card-text user-submission-text"><%= pet_submission.body %></p>

              <% if pet_submission.image.attached? %>
                <%= link_to pet_submission_path(pet_submission) do %>
                  <div class="user-submission-img-container">
                    <%= image_tag url_for(pet_submission.image), class: 'user-submission-img' %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  function searchPets() {
    const searchTerm = document.getElementById('petSearch').value.toLowerCase();

    const cards = document.querySelectorAll('.user-submission-card');
    let visibleCardCount = 0;

    // Iterate through pet submissions and show/hide based on the search term
    cards.forEach(function (card) {
      const title = card.querySelector('.user-submission-title').innerText.toLowerCase();
      const body = card.querySelector('.user-submission-text').innerText.toLowerCase();
      const regex = new RegExp(searchTerm, 'i');

      if (regex.test(title) || regex.test(body)) {
        // If the card matches the search criteria, show it and update its position
        card.style.display = 'block';
        card.style.order = visibleCardCount++; // Update the order property
      } else {
        // If the card doesn't match, hide it
        card.style.display = 'none';
      }
    });
  }
</script>

</body>
</html>
