<div>
  <h1><%= @pet_submission.title %></h1>
  <p><%= @pet_submission.body %></p>

  <% if @pet_submission.image.attached? %>
    <%= image_tag url_for(@pet_submission.image), class: 'img-fluid mx-auto d-block', style: 'max-width: 800px;' %>
  <% end %>

  <h2>Comments</h2>
  <%= render partial: 'comments/form', locals: { comment: @comment, pet_submission: @pet_submission } %>

  <!-- Add space between form and index -->
  <div style="margin-bottom: 20px;"></div>

  <%= render partial: 'comments/index', locals: { comments: @pet_submission.comments } %>
</div>
