<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'styles', media: 'all' %>
</head>

<body>
  <header class="text-center mt-4">
      <h1><%= @pet_submission.title %></h1>
  </header>
  <div>
    <section>
      <p><%= @pet_submission.body %></p>

      <% if @pet_submission.image.attached? %>
        <%= image_tag url_for(@pet_submission.image), class: 'img-fluid mx-auto d-block mb-3', style: 'max-width: 800px; max-height: 400px;' %>
      <% end %>

      <div class="mb-3">
        <% if @pet_submission.closed %>
          <p class="text-danger"><strong>Status:</strong> Closed</p>
        <% else %>
          <p class="text-success"><strong>Status:</strong> Open</p>
          <% if current_user && @pet_submission.user == current_user %>
            <%= form_with(model: @pet_submission, url: close_pet_submission_path(@pet_submission), method: :patch) do |form| %>
              <%= form.submit 'Close thread', class: 'btn btn-danger' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </section>

    <section>
      <% unless @pet_submission.closed %>
        <h2>Comments</h2>
        <%= render partial: 'comments/form', locals: { comment: @comment, pet_submission: @pet_submission } %>
      <% end %>
      <div style="margin-bottom: 30px;"></div>
      <%= render partial: 'comments/index', locals: { comments: @pet_submission.comments } %>
    </section>
  </div>
</body>

</html>
