<div class="container mt-5">
  <h1><%= @pet_submission.title %></h1>
  <p><%= @pet_submission.body %></p>

  <% if @pet_submission.image.attached? %>
    <%= image_tag url_for(@pet_submission.image), class: 'img-fluid' %>
  <% end %>

  <% if @pet_submission.closed %>
    <p>This case is closed. The pet has been found.</p>
  <% else %>
    <%= link_to "Close Case", close_case_pet_submission_path(@pet_submission), method: :put, class: "btn btn-danger" %>
  <% end %>

  <h2>Comments</h2>
  <%= render 'comments/form', comment: @comment, pet_submission: @pet_submission %>
  <%= render 'comments/index', comments: @pet_submission.comments %>
</div>
