<!-- app/views/pet_submissions/user_submissions.html.erb -->

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css"> <!-- Link to your external stylesheet -->
</head>

<div>
  <header class="text-center mt-4">
    <h1 class="mb-4">Your Open Pet Submissions</h1>
  </header>

  <% if @open_submissions.any? %>
    <div class="card-container">
      <% @open_submissions.each do |submission| %>
          <div class="card mb-4 user-submission-card">
            <div class="card shadow h-100">
              <div class="card-body user-submission-body">
                <%= link_to pet_submission_path(submission) do %>
                  <h5 class="card-title user-submission-title"><%= submission.title %></h5>
                <% end %>
                
                <p class="card-text user-submission-text"><%= submission.body %></p>

                <% if submission.image.attached? %>
                  <%= link_to pet_submission_path(submission) do %>
                    <div class="user-submission-img-container">
                      <%= image_tag url_for(submission.image), class: 'user-submission-img' %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  <% else %>
    <p>No open pet submissions.</p>
  <% end %>

  <header class="text-center mt-4">
    <h1 class="mb-4">Your Closed Pet Submissions</h1>
  </header>

  <% if @closed_submissions.any? %>
    <div class="card-container">
      <% @closed_submissions.each do |submission| %>
        <div class="card mb-4 user-submission-card">
          <div class="card shadow h-100">
            <div class="card-body user-submission-body">
              <%= link_to pet_submission_path(submission) do %>
                <h5 class="card-title user-submission-title"><%= submission.title %></h5>
              <% end %>
              <p class="card-text user-submission-text"><%= submission.body %></p>

              <% if submission.image.attached? %>
                <%= link_to pet_submission_path(submission) do %>
                  <div class="user-submission-img-container">
                    <%= image_tag url_for(submission.image), class: 'user-submission-img' %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No closed pet submissions.</p>
  <% end %>
</div>
